.level0, .level1, .level2 .level3 .level4{
  margin-left:10px;
  margin-top:10px;
}

.shape-rotation {
-webkit-transform: rotate(-50deg) translateX(-60px);
-moz-transform: rotate(-50deg) translateX(-60px);
-ms-transform: rotate(-50deg) translateX(-60px);
-o-transform: rotate(-50deg) translateX(-60px);
}

go-to{
  cursor: pointer; cursor: hand;
  color: blue;
}

body{
  font-family: Ubuntu, sans-serif;
}

.level2 {
  width:1000px;
  height:400px;
  font-size: 30px;
  margin: 300px;


  background-image: url('images/doodle.png');
  background-repeat: no-repeat;
  margin-top: 290px;
  background-position: right bottom;
  background-position-x: 100%;
  background-position-y: 100%;
}

p{
  margin: 40px;
}

.illustration{
  margin-right: 20px;
  float:left;
  width:400px;
  height:400px;
}

.level1 {
  width:1600px;
  height:1600px;
  font-size:30px;
  font-family: Helvetica;
  font-size: 30px;
  margin:300px;
}

.level0 {
  width:5472px;
  height:3472px;
  left:100px;
  top:100px;
  position:absolute;
  font-size: 40px
}